section {
  flex: 2; /* занимает 2/3 ширины экрана */
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  background: white;
  padding: 1.5rem;
  border-radius: 8px; /* скруглённые углы */
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1); /* тень */
}

section h2 {
  flex: 0 0 100%;
  margin-bottom: 1rem;
  color: darkblue;
}

article {
  display: flex;
  align-items: flex-start;
  gap: 1rem;
  flex: 0 0 calc((100% - 2rem) / 3); /* gap=1rem => между 3 колонками 2 промежутка */
  margin-bottom: 2.5rem;
  padding-bottom: 0.5rem;
  box-shadow: 0 10px 12px -10px rgba(86, 84, 84, 0.25);
}

article > div {
  display: flex;
  flex-direction: column;
  flex: 1;
}

article img {
  flex: 0 0 10rem;
  width: 10rem;
  height: 15rem;
}

article h3 a {
  text-decoration: none;
  color: saddlebrown;
}

aside {
  flex: 1;
  background: rgb(234, 215, 192);
  padding: 1.5rem;
  border-radius: 8px;
  font-size: 0.95rem;
}

aside h3 {
  margin-bottom: 0.75rem;
  color: darkblue;
}

aside p {
  text-indent: 2em; /* отступ первой строки */
  text-align: justify;
}
