section {
  display: flex;
  align-items: center;
}

section p {
  flex: 2;
  text-indent: 2em;
  font-size: 1.5rem;
  text-align: justify;
  margin-right: 1rem;
}

section img {
  flex: 1;
  width: 10%;
  height: auto;
}
