article {
  flex: 0 0 50%;
  box-shadow: none;
}

dl {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

dt {
  font-size: 1.2rem;
  font-weight: bolder;
}

dd {
  display: flex;
  flex-direction: column;
}

dd ul {
  padding-left: 5rem;
}
