* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%; /* высота по высоте окна браузера (для липкого футера) */
}

body {
  display: flex; /* (для липкого футера)*/
  flex-direction: column; /*(для липкого футера)*/
  min-height: 100%; /* высота минимум на весь экран (для липкого футера) */

  font-family: "Georgia", serif;
  line-height: 1.6; /* Межстрочный интервал */
  background-color: antiquewhite; /* Фоновый цвет */
  color: saddlebrown; /* Цвет шрифта */
}

main {
  flex: 1; /* main должен занять всё свободное место внутри body (для липкого футера) */
}

header {
  display: flex;
  flex-wrap: wrap;
  background: #484646;
  color: antiquewhite;
  padding: 1.5rem 2rem; /* внутренний отступ */
}

header img {
  width: 7rem;
  height: 7rem;
  margin-right: 2rem;
}

header h1 {
  margin-bottom: 0.5rem; /* отступ снизу заготовка */
  flex: 3;
}

header h1 a {
  text-decoration: none;
  color: antiquewhite;
}

header div {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

nav ul {
  list-style: none; /* убираем маркеры списка */
  display: flex; /* Располагаем пункты меню в строку */
  gap: 1.5rem; /* Задаём межстрочный интервал */
}

nav a {
  color: antiquewhite;
  text-decoration: none; /* Убираем подчеркивание ссылок */
  font-weight: bold; /* Жирный шрифт */
}

nav a:hover {
  color: aliceblue;
}

main {
  display: flex;
  padding: 2rem;
  gap: 2rem;
}

footer {
  background: #484646;
  color: antiquewhite;
  text-align: center;
  padding: 1rem;
  margin-top: 2rem;
}
