* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%; /* высота по высоте окна браузера (для липкого футера) */
}

body {

  display: flex; /* (для липкого футера)*/
  flex-direction: column; /*(для липкого футера)*/
  min-height: 100%; /* высота минимум на весь экран (для липкого футера) */

  font-family: "Georgia", serif;
  line-height: 1.6; /* Межстрочный интервал */
  background-color: antiquewhite; /* Фоновый цвет */
  color: saddlebrown; /* Цвет шрифта */
}

main {
  flex: 1; /* main должен занять всё свободное место внутри body (для липкого футера) */
}

header {
  display: flex;
  flex-wrap: wrap;
  background: #484646;
  color: antiquewhite;
  padding: 1.5rem 2rem; /* внутренний отступ */
}

header img {
  width: 7rem;
  height: 7rem;
  margin-right: 2rem;
}

header h1 {
  margin-bottom: 0.5rem; /* отступ снизу заготовка */
  flex: 3;
}

header h1 a {
  text-decoration: none;
  color: antiquewhite;
}

header div {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

nav ul {
  list-style: none; /* убираем маркеры списка */
  display: flex; /* Располагаем пункты меню в строку */
  gap: 1.5rem; /* Задаём межстрочный интервал */
}

nav a {
  color: antiquewhite;
  text-decoration: none; /* Убираем подчеркивание ссылок */
  font-weight: bold; /* Жирный шрифт */
}

nav a:hover {
  color: aliceblue;
}

main {
  display: flex;
  padding: 2rem;
  gap: 2rem;
}

section {
  flex: 2; /* занимает 2/3 ширины экрана */
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  background: white;
  padding: 1.5rem;
  border-radius: 8px; /* скруглённые углы */
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1); /* тень */
}

section h2 {
  flex: 0 0 100%;
  margin-bottom: 1rem;
  color: darkblue;
}

article {
  display: flex;
  align-items: flex-start;
  gap: 1rem;
  flex: 0 0 calc((100% - 2rem) / 3); /* gap=1rem => между 3 колонками 2 промежутка */
  margin-bottom: 2.5rem;
  padding-bottom: 0.5rem;
  box-shadow: 0 10px 12px -10px rgba(86, 84, 84, 0.25);
}

article > div {
  display: flex;
  flex-direction: column;
  flex: 1;
}

article img {
  flex: 0 0 10rem;
  width: 10rem;
  height: 15rem;
}

article h3 a {
  text-decoration: none;
  color: saddlebrown;
}

aside {
  flex: 1;
  background: rgb(234, 215, 192);
  padding: 1.5rem;
  border-radius: 8px;
  font-size: 0.95rem;
}

aside h3 {
  margin-bottom: 0.75rem;
  color: darkblue;
}

aside p {
  text-indent: 2em; /* отступ первой строки */
  text-align: justify;
}

footer {
  background: #484646;
  color: antiquewhite;
  text-align: center;
  padding: 1rem;
  margin-top: 2rem;
}
