section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.class1 {
  color: #484646;
  font-size: 2rem;
}

.class2 {
  color: black;
  font-size: 2.5rem;
  font-weight: bold;
}
